PORT=5000
NODE_ENV=development

DATABASE_TYPE=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=starwars
DATABASE_NAME=scheduleTask
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100

AUTH_TOKEN_SECRET=secret

TRELLO_CLIENT_ID=399dc6f0686ab35e4576db5a9e312b0e
TRELLO_CLIENT_SECRET=5de962a4c3ec194fa66b8ad268ff1311e94c7f49903749ebeab9b57ee9c1c036
TRELLO_CLIENT_CALLBACK=http://localhost:5000/trello/auth/callback
TRELLO_WEBHOOK_CALLBACK=https://56ea-176-120-103-217.ngrok-free.app/trello/webhook/callback

JIRA_CLIENT_KEY=Q6QbomK6QYVkpu1xV1i0zs9Ozo620Yls
JIRA_API_TOKEN=ATATT3xFfGF0kmQIgn_qEHqagrvAYyx3xx8Dn9031p1V0p3QjlXlmQ_d3B3eCRO4w3bZUltsnS5C2C0ATRro2-OMSwGInQQSsrA20TnIDONpcudwQk-1ENQ9APP7NQM0RIr8xb1hBbS4OT2UjnoLvX72a8ekOFPKPCzmtsRaSsTGib8hpkT-wKo=6948D0D6
JIRA_CLIENT_SECRET=qt8deITv-mYW51v2y0AKMRKLta87scGT1yVnMWCIR3KIoyAOWiI9qEt5ZqbRwDC7
JIRA_CLIENT_CALLBACK=http://localhost:5000/jira/auth/callback
JIRA_WEBHOOK_CALLBACK=https://56ea-176-120-103-217.ngrok-free.app/jira/webhook/callback